// common Films/Series style 

.film-card, .serie-card {
    width: 350px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    .card-image {
        img  {
            width: 350px;
            height: 500px;
        }
    }
    .info {
        width: 350px;
        height: 500px;
        position: absolute;
        top: 0;
        padding: 30px 15px;
        display: none;
        overflow: auto;
        .yellow {
            color: rgb(255, 190, 0);
        }
    }
}

// effetto hover sulla copertina 

.film-card:hover .card-image img, .serie-card:hover .card-image img {
    opacity: 0.2;
}
.film-card:hover .info, .serie-card:hover .info{
    display: block;
    color: white;
}